.footer1 {
  background: #111;
  color: white;
  padding: 3.75rem;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer2 {
  color: #fff;
  padding: 1.5rem 0rem;
  background: #242424;
}
.footer2 ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer2 ul li {
  padding: 6px 8px;
  cursor: pointer;
}
